In [2]:
import lancedb

uri = "data/sample-lancedb"
db = lancedb.connect(uri)
table = db.create_table("my_table",
                         data=[{"vector": [3.1, 4.1], "item": "foo", "price": 10.0},
                               {"vector": [5.9, 26.5], "item": "bar", "price": 20.0}])

result = table.search([100, 100]).limit(2).to_pandas()
result

        vector item  price     _distance
0  [5.9, 26.5]  bar   20.0  14257.059570
1   [3.1, 4.1]  foo   10.0  18586.421875