In [18]:
import lancedb
import pandas as pd

LANCEDB_URI: str = "data/lancedb"

vect_db: lancedb.db.LanceDBConnection = lancedb.connect(LANCEDB_URI)
chunk_table: lancedb.table.LanceTable = vect_db.open_table("chunk")
entity_table: lancedb.table.LanceTable = vect_db.open_table("entity")

In [30]:
query: str = "dementia"

In [31]:
df: pd.DataFrame = entity_table.search(query).to_pandas()

df

,node_id,chunk_id,text,vector,_distance
0,8,4,dementia,"[0.07002439, 0.36969122, 0.18288761, -0.160293...",0.000000
1,8,4,dementia,"[0.07002439, 0.36969122, 0.18288761, -0.160293...",0.000000
2,8,4,dementia,"[0.07002439, 0.36969122, 0.18288761, -0.160293...",0.000000
3,8,4,dementia,"[0.07002439, 0.36969122, 0.18288761, -0.160293...",0.000000
4,190,4,developing dementia,"[-0.013073405, -0.01126438, 0.5221698, 0.12133...",21.705324
5,192,4,dementia risk,"[-0.05611626, -0.028944355, -0.06698309, -0.16...",24.243292
6,177,4,the Alzheimer’s Society,"[-0.2585134, 0.08877814, -0.033535894, 0.32811...",43.545277
7,181,4,worse memory,"[0.008566616, 0.16447523, 0.20886305, 0.039089...",53.815666
8,179,4,this study,"[-0.07528465, 0.05061175, 0.16630842, -0.08296...",61.196796
9,174,4,"This large, long-term study","[-0.14838606, 0.35192665, -0.0044902316, 0.157...",64.266251

In [32]:
df: pd.DataFrame = chunk_table.search(query).to_pandas()

df

,uid,url,text,vector,_distance
0,0,https://www.theguardian.com/society/article/20...,US researchers say they have uncovered potenti...,"[-0.18361782, 0.119861014, 0.043344025, 0.0906...",40.713856
1,4,https://www.theguardian.com/society/article/20...,"This large, long-term study provides a specifi...","[-0.16312352, 0.2943443, -0.017912298, 0.25811...",41.601910
2,2,https://www.theguardian.com/society/article/20...,The study also suggested that replacing one da...,"[-0.23243251, 0.17150216, -0.04803865, 0.20654...",44.579029
3,1,https://www.theguardian.com/society/article/20...,"In the latest research, experts studied the he...","[-0.40950975, 0.11589784, -0.15417276, 0.00993...",47.116150
4,3,https://www.theguardian.com/society/article/20...,“Processed red meat has also been shown to rai...,"[-0.102691464, 0.26421332, -0.11869467, 0.1910...",53.369888